<button class="btn btn-default attendingButton-sml eventBtn" type="button">
    <span class="glyphicon glyphicon-ok"></span>
    <span class="eventID">{{ eventId }}</span>
    <span class="jsRoute">{{ newUrl }}</span>
</button>