<button class="btn btn-default attendButton" type="button">
    Dalyausiu
    <span class="glyphicon glyphicon-thumbs-up"></span>
    <span class="eventID">{{ eventId }}</span>
    <span class="jsRoute">{{ newUrl }}</span>
</button>