<button class="btn btn-default attendingButton" type="button">
    Dalyauju
    <span class="glyphicon glyphicon-ok"></span>
    <span class="eventID">{{ eventId }}</span>
    <span class="jsRoute">{{ newUrl }}</span>
</button>