<button class="btn btn-default attendButton-sml eventBtn" type="button">
    <span class="glyphicon glyphicon-thumbs-up"></span>
    <span class="eventID">{{ eventId }}</span>
    <span class="jsRoute">{{ newUrl }}</span>
</button>