<a class="eventLink" href="{{ path('one_event', {'id' : 7}) }}">
    <div class="event">
        <img src="{{ asset('images/mainEvent2.jpg') }}" alt="alternative">
        <div class="eventTitleWrapper">
            <h5>Title here oh title oh title my title</h5>
            <p>Rytoj 19:00  </p>
        </div>
    </div>
</a>