<a class="eventLink" href="{{ path('_show_event', { 'id': event.id }) }}">
    <div class="event">
        <img src="{{ asset('images/mainEvent2.jpg') }}" alt="alternative">
        <div class="eventTitleWrapper">
            <h5>{{ event.name }}</h5>
            <p>{{ date[event.id] }}</p>
        </div>
    </div>
</a>