<div class="col-md-8">
    <div class="row">
        <div class="col-md-5">
            <div class="mainEventWrapper">
                <div class="mainEvent">
                    <img src="{{ asset('images/mainEvent2.jpg') }}" alt="alternative">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <h4>Super renginys 1 tau</h4>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <p><b>Miestas:</b> Vilnius</p>
                </div>
                <div class="col-md-7">
                    <p><b>Pradžia:</b> 2014-10-15 11:00</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <p><b>Dalyvių:</b> 9,999,999</p>
                </div>
                <div class="col-md-7">
                    <p><b>Pabaiga:</b> 2014-10-15 12:00</p>
                </div>
            </div>
            <div class="row">
                <b>Aprašymas:</b>
                <p>Mūsų aprašymas</p>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn-mainEvent btn btn-primary"><p>Komentarai<br>(8000)</p></button>
            <button type="button" class="btn-mainEvent btn btn-primary">Skaityti toliau ></button>
        </div>
    </div>
</div>
<div class="col-md-4">
    {{ include('AtotrukisMainBundle:Includes:mainEvent2.html.twig') }}
</div>
