<a class="mainEvent2Link" href="{{ path('one_event', {'id' : 7}) }}">
    <div class="mainEvent2">
            <img src="{{ asset('images/mainEvent2.jpg') }}" alt="alternative">
            <div class="mainEvent2TitleWrapper">
                    <h5>Title here oh title oh title my title</h5>
                    <p>Pradžia: Rytoj 19:00</p>
                    <p>Pabaiga: 2014-12-32 99:99</p>
            </div>
    </div>
</a>