{% extends 'AtotrukisMainBundle::layout.html.twig' %}

{% block content %}

    <form method="post" action="{{ path('admin_update_events') }}">
        <button>Atnaujinti renginius</button>
    </form>

{% endblock %}