<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
       {#<link rel="stylesheet" href="/stylesheets/styles.css">#}
      {#  <link rel="stylesheet" href="/stylesheets/header.css">#}

        {% stylesheets filter="sass"
        "@AtotrukisMainBundle/Resources/style/style.sass"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="icon" type="image/x-icona" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            {% block body %}
                <div id="wrapper" class="toggled">
                    {% block leftNav %} {% endblock %}
                {% block header %}{% endblock %}
                    {% block recommendationList %} {% endblock %}
                    {% block content %}
                        {% block topContent %} {% endblock %}
                        {% block mainContent %}{% endblock %}
                    {% endblock %}
                </div>
                {% block footer %}{% endblock %}
            {% endblock %}
        </div>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="/javascripts/bootstrap.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
