<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="/stylesheets/header.css">

        <link rel="icon" type="image/x-icona" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            {% block body %}
                {% block header %}{% endblock %}
                {% block topContent %} {% endblock %}
                {% block mainContent %}{% endblock %}
                {% block footer %}{% endblock %}
            {% endblock %}
        </div>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="/javascripts/bootstrap.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
