@import url('/stylesheets/styles.css')
@import url('/stylesheets/header.css')
@import 'newEvent'
@import 'header'

.btn-primary
  background-color: #ff7400
  border-color: #a64b00
  border-radius: 0
.btn-circle
  border-radius: 50%
.btn-mainEvent
  width: 110px
  height: 110px
  margin-bottom: 10px
  border-color: #ff7400
.btn-primary:hover
  background-color: #ffb273
  border-color: #ffb273
.panel-default
  border-color: #ff7400
  border-radius: 0px
.separator
  color: #ff7400
.menuText
  color: #000
.menuText:hover
  color: #ffb273


.nav-pills > .active > a,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover
  text-decoration: none
  border-radius: 0px
  border-bottom-width: 4px
  border-bottom-style: solid
  border-bottom-color: #FF6600
  color: #000 !important
  background-color: transparent !important

.nav-pills > li > a
  border-radius: 0px

.nav-pills li
  display: inline
.contentWrapper
  margin-left: 10px
hr
  background-color: #ff7400
  color: #ff7400
  border-color: #ff7400
.attendButton
  width: 100%
  height: 36px
  margin-top: -36px
.attendingButton
  width: 100%
  height: 36px
  margin-top: -36px
  background-color: green
.eventID, .jsRoute
  visibility: hidden
  display: none

