@import url('/stylesheets/styles.css')
@import url('/stylesheets/header.css')
@import 'newEvent'
@import 'header'
@import 'footer'
@import 'comments'
@import 'login'

.btn-primary
  background-color: #ff7400
  border-color: #a64b00
  border-radius: 0
.btn-circle
  border-radius: 50%
.btn-mainEvent
  width: 100px
  height: 100px
  margin-bottom: 10px
  border-color: #ff7400
.btn-primary:hover
  background-color: #ffb273
  border-color: #ffb273
.panel-default
  border-color: #ff7400
  border-radius: 0px
  border-right-width: 0px
  border-left-width: 0px
  margin-bottom: 0px
.separator
  color: #ff7400
.menuText
  color: #000
.menuText:hover
  color: #ffb273


.nav-pills > .active > a,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover
  text-decoration: none
  border-radius: 0px
  border-bottom-width: 4px
  border-bottom-style: solid
  border-bottom-color: #FF6600
  color: #000 !important
  background-color: transparent !important

.nav-pills > li > a
  border-radius: 0px

.nav-pills li
  display: inline
.nav-pills
  display: block
  margin-left: auto
  margin-right: auto
  width: 310px
.contentWrapper
  margin-bottom: -10px
  width: 1000px
  margin-left: auto
  margin-right: auto
hr
  background-color: #ff7400
  color: #ff7400
  border-color: #ff7400
.attendButton
  width: 100%
  height: 36px
  margin-top: -50px
.attendingButton
  width: 100%
  height: 36px
  margin-top: -50px
  bottom: 0px
  background-color: green
.attendingButton:hover
  background-color: #66dd66
.attendButton-sml
  position: absolute
.attendingButton-sml
  position: absolute
  background-color: green
.eventID, .jsRoute
  visibility: hidden
  display: none
.newEventListItem
  padding-left: 20px
.news .row:hover
  background-color: #ff7400
  color: #ffffff
  text-decoration: none
.newsIndicator
  float: right
  font-size: 19px
  top: 15px
  color: #ff7400
.newEventListItem h5, .eventTitleWrapper h5
  white-space: nowrap
  width: 12em
  overflow: hidden
  text-overflow: ellipsis
.mainEventName
  white-space: nowrap
  width: 11em
  overflow: hidden
  text-overflow: ellipsis
.page-header h1, .myEventName
  white-space: nowrap
  width: 25em
  overflow: hidden
  text-overflow: ellipsis
.eventBtn
  position: absolute
  z-index: 2000
  display: block
.mainEventWrapper
  border-width: 1px
  border-style: solid
  width: 680px
  float: right
  margin-right: -20px
.mainEventLeftPos
  float: left
  width: 300px
  margin-left: 10px
.mainEventRightPos
  float: left
  width: 110px
  margin-left: 10px
  margin-top: 10px
.mainEvent
  width: 250px
  float: left
  margin-left: 10px
.mainEventLeftPos .row
  margin-left: 0px
.mainEventDataNames
  padding-right: 0px
.mainEventDescription
  margin-top: 5px
.restricteDescription
  height: 80px
  overflow: hidden
  text-overflow: ellipsis
.restricteDescription
  overflow: hidden
  position: relative
  max-height: 80px
.restricteDescription::after
  content: '...'
  position: absolute
  bottom: 0
  right: 0
  width: 2em
  text-align: center
  background-color: #fff
.mainEventWrapper
  margin-left: 10px
  border-width: 0px 1px 1px 0px
  border-style: solid
  border-color: #ff7400
  -webkit-border-radius: 50px
  -webkit-border-bottom-left-radius: 0
  -moz-border-radius: 50px
  -moz-border-radius-bottomleft: 0
  border-radius: 50px
  border-bottom-left-radius: 0
  margin-bottom: 10px
  -webkit-box-shadow: 15px 0px 30px -15px rgba(255,116,0,1)
  -moz-box-shadow: 15px 0px 30px -15px rgba(255,116,0,1)
  box-shadow: 15px 0px 30px -15px rgba(255,116,0,1)
.page-header-index
  margin-left: auto
  margin-right: auto
  width: 180px
  text-align: center
  border-width: 0px 1px 1px 1px
  border-style: solid
  border-color: #ff7400
  -webkit-border-bottom-right-radius: 50px
  -webkit-border-bottom-left-radius: 50px
  -moz-border-radius-bottomright: 50px
  -moz-border-radius-bottomleft: 50px
  border-bottom-right-radius: 50px
  border-bottom-left-radius: 50px
.page-header h3
  margin-top: 0px
.mainEvent2
  border-radius: 50px
  border-width: 1px
  border-style: solid
  border-color: #ff7400
  overflow: hidden
.eventInfoSmall
  color: #ffffff
  margin-top: -10px
  margin-left: 20px
.eventInfoSmallRow
  margin-left: 30px
  color: #ffffff
.mainEventDataNames
  color: white
.mainEventDataValues
  margin-left: 0px
  color: white
.mainContentWrapper
  width: 900px
  margin: 0 auto
.showEventDataLeft
  padding-right: 0px
.showEventDataRight
  padding-left: 0px
.showEventInfo
  height: 152px
.showEventDataRight span
  padding-bottom: 28px
.showEventDataLeft span
  padding-bottom: 28px
.commentText
  word-break: break-all
.showEventName
  margin-left: 10px
.showEventAttendButton
  width: 100%
  position: absolute
  bottom: 0px
.showEventAttendButton .btn
  margin-top: 0px