.container-fluid{
    padding-left:0;
    padding-right:0;
}
.row{
    margin-right:0;
}
.mainEvent{
    width: 300px;
    height: 225px;
    overflow:hidden;
    background-color: #ff7400;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.mainEvent img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
}
.mainEventShow{
    width: 400px;
    height: 200px;
    background-color: #ff7400;
    overflow:hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #ff7400;
    position:relative;
}
.mainEventShow img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
}
.mainEvent2{
    width:100%;
    height: 240px;
    background-color: #ff7400;
    position:relative;
}
.mainEvent2 img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}
.mainEvent2:hover{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.mainEvent2TitleWrapper{
    width:100%;
    height: 85px;
    background-color:black;
    margin-top:-85px;
    padding-top: 5px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    position: absolute;
    bottom: 0px;
}
.mainEvent2TitleWrapper h5{
    margin-left: 20px;
    color:white;
    font-weight: bold;
    white-space: nowrap;
    width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;

}
.mainEvent2TitleWrapper p{
    margin-left: 20px;
    color:white;
    margin: 0 0 0px;
    margin-left: 20px;
}


.event{
    width:100%;
    height: 150px;
    background-color: #dfdfdf;
    margin-bottom:20px;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #ff7400;
}
.event img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}
.event:hover{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.eventTitleWrapper{
    width:100%;
    height: 50px;
    background-color:black;
    margin-top:-50px;
    position: absolute;
    bottom: 0px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
.eventTitleWrapper h5{
    margin-left: 30px;
    color:white;
    font-weight: bold;
    margin-bottom: 0px;
}
.eventTitleWrapper p{
    margin-left: 20px;
    color:white;
    margin: 0 0 0px;
    margin-left: 20px;
}
.page-header{
    margin-top:0px;
}
.page-header h4{
    margin-bottom:0px;
}
#search_form .form-group input{
    width: 400px;
}
#top_recommendation_nav{

}
/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    border-right: solid 1px;
    border-color: #ff7400;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 2px 0px 10px #888888;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #ff7400
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}



.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-brand b{
   color: black;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}