#quizForm input, #quizForm .save, #quizForm label, #quizForm button{
    float: left;
}
#quizForm input:not(.next) {
    clear: left;
}
#quizForm .ans:not(:first-of-type) {
    display: none;
}
#quizForm .label {
    font-size: 18px;
    color: #000;
}
#quizForm .tlabel {
    width: 100%;
}
#quizForm {
    margin-top: 50px;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    height: 350px;
    padding: 20px;
}
p {
    padding-top: 20%;
}