{% extends 'AtotrukisMainBundle::layout.html.twig' %}

{% block topContent %}
    <div class="page-header">
        <h4>Pasiūlymai tau</h4>
    </div>
    <div class="row">
        {{ include('AtotrukisMainBundle:Includes:mainEvent.html.twig') }}
    </div>
    <hr>
{% endblock %}

{% block mainContent %}


        {% for event in pagination %}

            <div class="col-md-3">{{ include('AtotrukisMainBundle:Includes:event.html.twig') }}</div>

        {% endfor %}


        <div class="col-md-12">

            {{ knp_pagination_render(pagination) }}

        </div>


{% endblock %}
{% block recommendationList %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="top_recommendation_nav">
                <a href="#">Rekomenduojami tau</a> | <a href="#">Išbandyk naujovę</a>
            </div>
        </div>
    </div>
{% endblock %}
