{% extends 'AtotrukisMainBundle::layout.html.twig' %}

{% block topContent %}
    <div class="page-header">
        <h4>Pasiūlymai tau</h4>
    </div>
    <div class="row">
        {{ include('AtotrukisMainBundle:Includes:mainEvent.html.twig') }}
    </div>
    <hr>
{% endblock %}

{% block mainContent %}


    {% for e in events %}

        <div class="col-md-3">{{ include('AtotrukisMainBundle:Includes:event.html.twig') }}</div>

    {% endfor %}


{% endblock %}

