{% extends "AtotrukisMainBundle::layout.html.twig" %}

{% block title %}Apklausa{% endblock %}

{% block mainContent %}

    Ačiū, kad atsakėte į klausimus. <a href="{{ path('atotrukis_hello_world') }}">Grįžti į pradinį puslapį.</a>

{% endblock %}