{% extends "::base.html.twig" %}

{% block title %}Pasiūlymai tau{% endblock %}

{% block body %}

    <h1>Pasiūlymai tau</h1>

    {% for e in events %}

        Pavadinimas: {{ e.name }}<br>
        Aprašymas: {{ e.description }}<br>
        Pradžia: {{ e.startDate|date('Y-m-d H:i') }}<br>
        Pabaiga: {{ e.endDate|date('Y-m-d H:i') }}<br><br>

    {% endfor %}

{% endblock %}
